.bg-primary{
    background-color: #3B307E !important;
}

.card-img-top{
    height: 13.5rem;
}

.card:hover{
    transform: scale(1.015);
    animation: scale 0.2s;
    cursor: pointer;
    border-color: #3B307E;
    border: 1px solid;
}

@keyframes scale {
    0% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1.015);
    }
}