.bg-primary{
    background-color: #3B307E !important;
}
.bg-secondary{
    background-color: #594e8a !important;
}

.tarefas{
    background-color: #e4e2f0;
}

.tarefas:hover{
    cursor: pointer;
    background-color: #c6c3d6;
    transition: 0.2s;
}

.card-img-top{
    height: 13.5rem;
}

.card:hover{
    transform: scale(1.015);
    animation: scale 0.2s;
    cursor: pointer;
}

@keyframes scale {
    0% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1.015);
    }
}